doctype html
html(lang='en')
  head
    title= Shredtopia
    link(rel='stylesheet', href='style.css', type='text/css')
  
  body
    #navbar.navbar
      a(href='/') Squaw
      a(href='/') Kirkwood
      a(href='/') Heavenly
    
    block content