doctype html
html(lang='en')
  head
    title Shredtopia
    link(rel='stylesheet', href='style.css', type='text/css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    
  
  body
    #navbar.navbar
      a(href='/', onclick='getJSON();'  data= "squaw+valley", id= "resort") Squaw
      a(href='/', onclick='getJSON();' data= "kirkwood+ski+resort", id= "resort") Kirkwood
      a(href='/', onclick='getJSON();' data= "heavenly+ski+resort", id= "resort") Heavenly
      a(href='/', onclick='getJSON();' data= "alpine+meadows+ski+resort", id= "resort") Alpine Meadows
      a(href='/', onclick='getJSON();' data= "northstar+ski+resort", id= "resort") Northstar
      
      <i class="fa fa-volume-off fa-inverse fa-4x"></i> 
    script(src='script.js')
    block content